'use strict';

module.exports = {
	apiKey: "AIzaSyA1O3GFLttyrAIlbZSNV6_x1J-Z--HcsKA",
	authDomain: "rastreador-tcc-1529541596396.firebaseapp.com",
	databaseURL: "https://rastreador-tcc-1529541596396.firebaseio.com",
	projectId: "rastreador-tcc-1529541596396",
	storageBucket: "rastreador-tcc-1529541596396.appspot.com",
	messagingSenderId: "123355905142"
};
