'use strict';

// Dados de exemplo, cadastrar uma conta no https://console.firebase.google.com para usar
module.exports = {
	apiKey: "apiKey",
	authDomain: "projectId.firebaseapp.com",
	databaseURL: "https://databaseName.firebaseio.com",
	projectId: "projectId-123456",
	storageBucket: "bucket.appspot.com",
	messagingSenderId: "123456"
};
